/**
 * @file
 * Typography styles for NBC Olympics theme
 */

/**
 * $BASE-TYPOGRAPHY
 */
html {
  font-family: FiraSans, Arial, Helvetica, sans-serif;
  color: #000;
}

/**
 * $LINKS
 */
a {
  color: #000;
  text-decoration: none;
}

/**
 * $HEADINGS
 */
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  color: #000;
  font-family: FiraSans, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
h1 a,
h1 a:visited, .alpha a,
.alpha a:visited,
h2 a,
h2 a:visited, .beta a,
.beta a:visited,
h3 a,
h3 a:visited, .gamma a,
.gamma a:visited,
h4 a,
h4 a:visited, .delta a,
.delta a:visited,
h5 a,
h5 a:visited, .epsilon a,
.epsilon a:visited,
h6 a,
h6 a:visited, .zeta a,
.zeta a:visited {
  color: inherit;
  text-decoration: none;
}
h1 a:hover, .alpha a:hover,
h2 a:hover, .beta a:hover,
h3 a:hover, .gamma a:hover,
h4 a:hover, .delta a:hover,
h5 a:hover, .epsilon a:hover,
h6 a:hover, .zeta a:hover {
  color: #000;
}

h1, .alpha {
  font-family: FiraSans, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-size: 2.5rem;
}

h2, .beta {
  font-size: 34px;
  font-size: 2.125rem;
  font-weight: 700;
}

h3, .gamma {
  font-size: 21px;
  font-size: 1.313rem;
}

h4, .delta {
  font-size: 18px;
  font-size: 1.125rem;
}

h5, .epsilon {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
}

h6, .zeta {
  font-size: 16px;
  font-size: 1rem;
}

/**
 * $PARAGRAPHS
 */
p {
  margin: 0 0 1em;
}

/**
 * $QUOTES
 */
blockquote {
  padding: 0 1.5em;
  font-style: italic;
}
blockquote p {
  margin: 0;
}

q {
  font-style: italic;
}
